main select#selectSessions, main select#selectPlace, main select#selectPay{
	position: relative;
	display: block;
	margin: 10px 0px;
	padding: 5px 0px;
	width: 100%;
	outline: none;
}
main div.buyPlace{
	position: relative;
	display: block;
	padding: 10px 0px;
	text-align: center;
	background: black;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}